{% extends "base.html" %}
{% block doctitle %} Film list |  {{ block.super }}{% endblock %}
{% block content %}
    <form  method="post">
{% csrf_token %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for film in film_list %}
<div class="col">

<div class="card h-100">
    {% load static %}
                   <img src="{{film.image}} " alt="
{{ film.image }}" width="300" height="300">
            <div class="card-body">
                <p><a href="{% url "film:detail" slug=film.slug %}">{{film.film_name}}</a></p>
                <p class="card-context"> {{ film.category.category }}</p>
                <p class="card-context"> {{ film.film_description }}</p>
                <body id="bg" style="background-image: url('{% static "static/media/font"%}')";
                ></body>

               </div>
               </div>
            </div>
        {% endfor %}
    </div>
</form>
{% endblock %}