{% extends "film/film.html" %}
{% block content %}
  <h5 class="h5">{{ object.film }}</h5>
  <div class="row">

      <img src="{{ object.image.url}}" alt="image" style="width:300px; " >
  </div>
  <div class="row">
    <div class="text-body"> {{ object.film_description }}</div>
  </div>
  <hr>
  <div class="row">
    <ul class="list-group">
      {% for review in object.reviews.all %}
        <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ review.rate }}</div>
            {{ review.review }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
