{% extends "base.html" %}
{% block doctitle %} Sessions list |  {{ block.super }}{% endblock %}
{% block content %}
    <form  method="post">
{% csrf_token %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for session in object_list%}
<div class="col">

<div class="card h-100">

    <p class="card-context"> Film: {{session.film_name}}</p>
    <p class="card-context"> Price: {{ session.price}}</p>
            <p class="card-context">Date: {{ session.date_time}}</p>
            <p class="card-context">Hall: {{ session.hall}}</p>
            </div>
</div>
            </div>





        {% endfor %}


</form>
{% endblock %}