{% extends "base.html" %}
{% block doctitle %} Sessions list |  {{ block.super }}{% endblock %}
{% block content %}
    <form  method="post">
{% csrf_token %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for session in object_list%}
<div class="col">

<div class="card h-100">

    <p class="card-context"> Title: {{session.film_name}}</p>
    <p class="card-context"> Price: {{ session.price}}</p>
            <p class="card-context">Date Start: {{ session.date_of_beginning}}</p>
            <p class="card-context">Date Finish: {{ session.date_of_ending}}</p>
            <p class="card-context">From: {{ session.time_start}}</p>
            <p class="card-context">Till: {{ session.time_finish}}</p>
            <p class="card-context"> Hall:{{ session.created_hall.hall}}
            <p class="card-context"> Free places: {{ session.get_free_places_in_hall}}</p>
            </div>
</div>
            </div>





        {% endfor %}


</form>
{% endblock %}